    
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
  <title>laneshouse</title>
</HEAD>
{% load static %}
<BODY id="bg" style="background-image: url('{% static "images/wet.jpg"%}')";>>
<img src="http://73.138.53.30:9911" alt="Front Yard" width="640" height="360">
<img src="http://73.138.53.30:9912" alt="Front Yard" width="640" height="360">
<img src="http://73.138.53.30:9913" alt="Front Yard" width="640" height="360">
<img src="http://73.138.53.30:9914" alt="Front Yard" width="640" height="360">
</BODY>
</HTML>
